@use 'settings' as *;



.custom-nav {
    padding: 0 12%;
    height: 80px;
    border: 1px solid rgba(208, 201, 201, 0.5);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;

}

.white-them {

    a,
    .search-icon {
        color: $white !important;
    }
}

.black-them {
    background: $white ;

    a,
    .logo span,
    .search-icon {
        color: #000;
        background: red;
    }
}

.logo {
    font-family: $Kings;
    font-size: 2.5rem;
    color: $white;

    span {
        font-family: $Kings;
        color: $white;
    }
}

.nav-item {
    font-size: 1.2rem;
    color: $white ;
    text-decoration: none;
    font-weight: 600;
    font-family: $Urbanist;
    position: relative;
    margin-left: 20px;



    a {
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $white;
            transition: $transition-regular;
        }




        &:hover::after {
            width: 100%;


        }
    }
}

.search-icon {
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
}

.navbar-toggler {
    color: $white !important;
    background: $white;

}

.modal {
    background: #00000065;
}

.modal-input input {
    outline: none;
    box-shadow: none !important;
    border: none !important;
}

@media (max-width:991px) {
    .navbar-nav {
        padding: 10px;
        border-radius: 10px;
        background: $white;
        align-items: flex-start !important;
        margin-top: 10px;


        li a {
            color: #000 !important;

            &::after {
                background: #000 !important;

            }
        }
    }

}